/* body */
body {
    font-family: 'Nunito Sans', 'Arial', 'sans serif';
    font-size: 16px;
}

/* headings */
h1,
h2 {
    font-family: 'Raleway', 'Helvetica', 'sans serif';
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

/* icons */
.material-icons {
    position: relative;
    top: 5px;
}

/* spacing */
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

p,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* navigation bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2C96BF;
    color: white;
    padding: .5rem;
    padding-bottom: 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #F0F0F0;
    border-bottom: #F0F0F0 .8rem solid;
    transition: .25s ease-out;
}

/* headers */

header {
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url("../img/paul-gilmore-145802-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-color: #0084Af;
}

.motto {
    font-style: italic;
    font-size: 1.25rem;
}

/* menu */

#menu {
    background-color: #f0f0f0;
}

main dl dt {
    font-size: 125%;
    font-weight: bold;
    margin-top: 1rem;
}

main dl dd {
    margin: 0;
}

main img {
    height: 200px;
    border-radius: 15px;
}

/* about */
#about {
    background-color: #e0e0e0;
    line-height: 1.5;
}

/* footer */

footer {
    color: white;
    background-color: #3E1305;
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-child {
    padding-top: 8px;
}